/* .emp-search{
  margin: 15px auto;
  max-width: 500px;
  box-shadow: 2px 5px 5px black;
}
.top-div{
  background-color:#1250c4;
  margin-bottom:10px;
} */

.profile-photo {
  min-width: 220px;
  height: 220px;
  width: 220px;
  -o-object-fit: cover;
     object-fit: cover;
     aspect-ratio: 1/1;
}

@media (max-width: 450px) {

  .profile-photo {
    min-width: 100%;
    height: auto;
    width: 100%;
    max-height: none !important;
    max-width: none !Important;
  }
  
}