.bg-teal-100	{
  background-color: rgb(204 251 241);
}

.border-teal-500	{
  border-color: rgb(20 184 166);
}

.text-teal-900	{
  color: rgb(19 78 74);
}

.bg-red-100	{
  background-color: rgb(254 226 226);
}

.border-red-500	{
  border-color: rgb(239 68 68);
}

.text-red-900	{
  color: rgb(127 29 29);
}