#root {

}

.hero-background {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hide {
    display: none;
}