/* Global */
#root {

}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* Hide on small (possible .hidden class conflict between next ui and tailwind) */
@media (max-width: 767px) {
  .smhide {
    display: none;
  }
}

/*  Navbar */
.devopps {
  /* background-image: linear-gradient(60deg, #5556f7, #a954eb);
  background-clip: text;
  color: transparent; */
}

/* hero image */
.hero-background {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-background h1,
.hero-background h3 {
  text-shadow: 1px 1px 25px #333;
}

.hide {
    display: none;
}
    
  /* City grid styling */

.london-box {    
    background-image: url('/images/London.jpg');
  }
  .bristol-box {    
    background-image: url('/images/Bristol.jpg');
  }
  .manchester-box {    
    background-image: url('/images/Manchester.jpg');
  }
  .cardiff-box {    
    background-image: url('/images/Cardiff.jpg');
  }
  .edinburgh-box {    
    background-image: url('/images/Edinburgh.jpg');
  }
  .cambridge-box {    
    background-image: url('/images/Cambridge.jpg');
  }
  .bristol-box, .cardiff-box, .edinburgh-box, .manchester-box, .london-box, .cambridge-box {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    height: 300px;
  }

  .city h2 {
    text-shadow: 1px 2px #333;
  }

  /* employer/employee cards */
.employee {
  background-image: url('/images/candidate.jpg');
}
.employer {
  background-image: url('/images/employer.jpg');
}
.employee, .employer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Results header */
.results-header {
  background: url('/images/results-header.jpg') center 100% no-repeat;
  text-shadow: 1px 1px #333;
  background-size: cover;
}

/* Employer header */
.employer-header {
  background: url('/images/employer-header.jpg') center 55% no-repeat;
  text-shadow: 1px 1px #333;
  background-size: cover;
}
/* news carousel */
.control-dots {
  display: none !important;
}

/* Candidate banner  */
.candidate-banner {
  background-image: url('/images/candidate-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}